.react-calendar {
  font-family: "Montserrat", sans-serif;
  border-radius: 30px;
}
.MuiGrid-container {
  justify-content: center;

  max-width: 100%;
}
.MuiFormControl-marginNormal {
  margin: 16px 16px 8 16px;
}
.Create-Form {
  margin: auto;
}
.MuiSelect-selectMenu {
  width: 240px im !important;
}
