.Button {
  width: 150px;
  background-color: #5995fd;
  border: none;
  outline: none;
  height: 49px;
  border-radius: 49px;
  color: #fff;
  text-transform: uppercase;
  font-weight: 600;
  margin: 10px 0;
  cursor: pointer;
  transition: 0.5s;
}

.Button:focus {
  outline: none;
}

.Button:active {
  box-shadow: inset 2px 2px 1px rgba(0, 0, 0, 0.3);
}

.Button:disabled {
  background: #ccc;
  color: #000;
  cursor: not-allowed;
}

.success {
  background: rgba(161, 240, 69, 1);
}

.error {
  background: rgba(240, 87, 108, 1);
}

.primary {
  background: #2884f6;
  color: #fff;
}
